@import './base.css';

#app {
  min-height:100vh
}

html{
  overflow-y:auto;
  min-height:100vh
  
}
body {
  min-height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('@/assets/bg.png');
}

